################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

cborbeat:
  # Defines how often an event is sent to the output
  period: 1s
  # Specifies the cbor file to monitor and read
  log_file: ""
